# Qt build directories
/build-*/
/debug/
/release/
/docs/
/build/
/docs/

# Qt Creator specific files
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
Dockfile
Dockfile.*


# Other
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
